.header--links
	margin-left: -15px
	justify-content: space-between
	a
		font-weight: bold
		color: #8993a1
		text-transform: uppercase
		padding: 15px
		border-top: 4px solid transparent
		&:hover
			color: $main-color
			border-top-color: $main-color
	.dropdown.open > a
		color: $main-color
		border-top-color: $main-color

	.dropdown-menu,.dropdown-menu_second
		padding: 0
		margin: 0
		z-index: 10
		list-style: none
		&:before
			content: ""
			display: block
			position: absolute
			left: 23px
			top: -20px
			border: 10px solid transparent
			border-bottom: 10px solid #0677bb

		li
			&:not(:last-child)
				border-bottom: 1px solid #2a85c6
			a
				font-size: 16px
				font-weight: 500
				display: block
				background: #0677bb
				color: #95c6e7
				border-top: none
				padding: 15px 80px 15px 20px
				border-left: 5px solid transparent
				position: relative
				opacity: 1
				&:focus
					color: #95c6e7 !important
				&:hover
					border-top: none
					color: white
					border-left-color: #7ab3dc
					&:after
						content: ""
						display: block
						height: 10px
						width: 4px
						background-image: url("../img/dropdown-item-arrow.png")
						background-size: cover
						position: absolute
						right: 12px
						top: 50%
						transform: translateY(-50%)

			&:hover
				.dropdown-menu_second
					opacity: 1
					right: 0

	.dropdown-menu_second
		position: absolute
		right: -999999
		top: 0
		transition: opacity 0.3s
		opacity: 0
		transform: translateX(100%)
		width: 100%
		&:before
			display: none
		li
			a
				background: #09629d
				&:hover
					&:after
						background-image: none

.header--logo
	display: block
	width: 100%
	max-width: 194px
	margin: 5px auto

.menu-widgets
	padding-left: 135px
	justify-content: space-between
	border-bottom: 1px solid #e3e7ec
	.btn
		margin: 7px 0

.menu-widget
	display: flex
	padding: 7px 0
	&:not(:last-of-type)
		border-right: 1px solid #e3e7ec
		padding-right: 21px
	span,a
		font-weight: bold
		font-size: 13px
		color: #4a5666
		text-transform: uppercase
		&:not(:last-child)
			&:after
				content: ""
				border-right: 2px solid
				padding-left: 5px
				margin-right: 5px
	&._city
		.dropdown-menu
			padding: 0
			margin: 0
			border-radius: 0
			min-width: initial
			li
				a
					text-transform: inherit
					font-size: 14px
				&:hover
					a
						background: #0e76bc
						color: white
		&:before
			@include before-icon(url("../img/location.png"),20px,25px)
			margin-right: 10px
	&._analyzes
		&:before
			@include before-icon(url("../img/analyzes.png"),23px,25px)
			margin-right: 10px
	&._call
		&:before
			@include before-icon(url("../img/call.png"),14px,24px)
			margin-right: 10px

.menu-widget--label
	text-transform: uppercase
	color: #8993a1
	font-size: 10px
	font-weight: bold

@media(max-width: 1200px)
	.menu-widgets
		padding-left: 0
	.header--links
		a
			padding: 15px 10px
	header
		.socials
			display: none
			
@media(max-width: 991px)
	.header-row
		& > div
			margin: auto
	.menu-widget
		&:not(:first-child)
			margin-left: 35px
	.header--links
		a
			padding: 15px 5px

@media(max-width: 767px)
	.header--links
		display: none
		text-align: center
		position: absolute
		z-index: 16
		width: 100%
		top: 0
		background: #0a78bc
		padding: 0 30px
		a
			width: 100%
			color: white
			display: block
			border-top: none
			color: white
			&:hover
				border-top: none
				color: white
			&:not(:last-child)
				border-bottom: 1px solid #2a85c6
			.caret
				margin-left: 5px
		.dropdown.open 
			& > a
				border-top: none
				color: white
			.dropdown-menu
				display: block



		.dropdown-menu
			width: 100%
			position: relative
			display: none
			box-shadow: none
			border: none
			float: none
			.dropdown-menu_second
				display: none !important
			li
				a
					display: block
					padding: 15px 0
					text-align: center
					text-transform: capitalize
					font-size: 15px
					border: none
				&:hover
					.dropdown-menu_second
						opacity: 0
						right: -999999
				&:not(:last-child)
					border: none
				&:last-child
				    border-bottom: 1px solid #2a85c6
			&:before
				display: none

	.menu-widgets
		justify-content: center
		margin-bottom: 10px
		border-bottom: none

	.header-row
		display: flex

	.header--logo
		margin: 5px 0

	.menu-widget
		&:not(:last-of-type)
			padding-right: 25px
		&:not(:first-child)
			margin-left: 35px

	.header--burger
		img
			float: right

@media(max-width: 556px)
	.menu-widget._analyzes
		display: none

@media(max-width: 335px)
	.menu-widget
		&:not(:last-of-type)
			padding-right: 25px
		&:not(:first-child)
			margin-left: 25px

