#slider
	background: #ecf2f0
	.carousel-control
		img
			position: absolute
			top: 50%
			transform: translateY(-50%)
			transition: all 0.3s

	.carousel-control.right
		background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%)
		img
			max-width: 60px
			right: 50px
			opacity: 0
		&:hover
			img
				opacity: 1

	.carousel-control.left
		background-image: linear-gradient(to right,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 100%)
		img
			max-width: 60px
			left: 50px
			opacity: 0
		&:hover
			img
				opacity: 1

	.btn_big:not(:last-of-type)
		margin-right: 15px

	.item
		padding: 50px 0 150px
		background-size: auto 100%
		background-repeat: no-repeat
		background-position: 100% 100%

	.carousel-indicators
		text-align: right
		bottom: 60px
		li
			&:not(:last-child)
				margin-right: 5px
			background: #fff
			box-shadow: 0px 0px 2px rgba(0,0,0,0.5)
			border: 2px solid transparent
			&.active
				border-color: #008ac8
				position: relative
				&:before
					content: ""
					height: 5px
					width: 5px
					display: block
					position: absolute
					left: 50%
					top: 50%
					border: 2px solid #008ac8
					border-radius: 50%
					transform: translateX(-50%) translateY(-50%)
		
.slider-item--we
	display: inline-block
	font-size: 18px
	color: white
	background-image: url("../img/slider-we.png")
	background-size: cover
	width: 59px
	height: 66px
	text-align: center
	line-height: 75px
	font-weight: 500
	text-transform: uppercase

.slider-item--title
	font-family: "Roboto Slab", serif
	font-size: 40px
	font-weight: bold
	display: block
	text-transform: uppercase
	margin-bottom: 35px
	span
		font-size: 30px
		font-weight: 100
		display: block

.slider-item--description
	color: #6e7682
	display: block
	max-width: 360px
	margin-bottom: 40px

.slider-triple
	position: relative
	z-index: 10
	
.slider-triple--item
	flex: 1
	justify-content: center
	display: flex
	span
		color: #fff
		text-transform: uppercase
		font-size: 16px
		font-weight: bold
		padding: 18px 0
		line-height: 16px
		display: flex
		align-items: center
	&._hours
		background: #0e76bc
		color: white
		span
			&:before 
				@include before-icon(url("../img/triple-hours.png"),26px,26px)
				margin-right: 20px
		&:hover
			opacity: 1
			background: darken(#0e76bc,5%)
	&._ask
		background: #09629d
		color: white
		span
			&:before 
				@include before-icon(url("../img/triple-ask.png"),33px,26px)
				margin-right: 20px
		&:hover
			opacity: 1
			background: darken(#09629d,5%)
	&._specialists
		background: #06456f
		color: white
		span
			&:before 
				@include before-icon(url("../img/triple-specialists.png"),23px,26px)
				margin-right: 20px
		&:hover
			opacity: 1
			background: darken(#06456f,5%)

.switcher
	display: flex
	justify-content: center
	margin-bottom: 55px
	flex-wrap: wrap
	span
		display: block
		background: #e2e6e9
		font-weight: bold
		font-family: "Roboto Slab", serif
		text-transform: uppercase
		padding: 20px 35px
		font-size: 20px
		position: relative
		cursor: pointer
		transition: all 0.3s
		&:before
			content: ""
			display: block
			position: absolute
			left: 50%
			transform: translateX(-50%)
			bottom: -20px
			border: 10px solid transparent
			border-top: 10px solid #e2e6e9
			transition: all 0.3s
		&:first-child
			border-top-left-radius: 5px
			border-bottom-left-radius: 5px
		&:last-child
			border-top-right-radius: 5px
			border-bottom-right-radius: 5px
		&:hover,&._selected
			&:before
				border-top-color: $main-color
			color: white
			background: $main-color

.service-item
	display: flex
	align-items: stretch
	margin-bottom: 55px
	position: relative

.service-item--image
	min-width: 85px
	margin-right: 15px
	background-position-x: center
	background-repeat: no-repeat
	transition: all 0.3s

.service-item--title
	display: block
	font-family: "Roboto Slab",serif
	font-size: 20px
	font-weight: bold
	color: #4a5666
	position: relative
	margin-bottom: 30px
	&:before
		content: ""
		display: block
		width: 0
		height: 3px
		transition: all 0.3s
		top: -15px
		position: absolute
	&:hover
		color: $main-color
		&:before
			width: 35px
			background: $main-color

.service-item-description
	color: #6e7682
	line-height: 24px

.services,.advantages
	display: none
	&._selected
		display: flex

.about--title,.news--title,.tour--title
	display: block
	margin-top: 125px
	margin-bottom: 35px
	font-size: 20px
	font-weight: bold
	font-family: "Roboto Slab", serif
	color: #20262e
	text-transform: uppercase
	&:hover
		color: $main-color

.about--image
	display: block
	position: absolute
	left: -65px
	bottom: 0
	max-height: 100%

.news--title
	margin-top: 100px
	width: 100%
	&:hover
		color: inherit

.news-item
	margin-bottom: 70px
	.btn
		letter-spacing: 1px
		padding: 12px 30px
		margin-top: 40px
		transition: all 0.3s
	&:hover
		.btn
			background: $main-color
		
.news-item--image
	overflow: hidden
	max-height: 100%
	transition: all 0.5s
	img
		width: 100%
		min-height: 100%
	&._collapsed
		max-height: 135px

.news-item--title
	font-family: "Roboto Slab", serif
	font-size: 19px
	color: #4a5666
	display: block
	margin: 35px auto 15px

.news-item--date
	font-family: "Roboto Slab", serif
	color: #4a5666
	display: block
	span 
		color: #989aa7

.news-item--description
	display: none
	line-height: 22px
	color: #6e7682
	margin-top: 40px
	padding-bottom: 50px
	border-bottom: 3px solid $main-color

.tour--title
	margin-top: 95px
	&:hover
		color: initial

.tour--description
	display: block
	color: #6e7682
	margin-bottom: 30px
	max-width: 300px

.tour-3d
	padding-left: 55px

.tour--background-image
	width: 50%
	position: absolute
	height: 100%
	right: 0
	top: 0
	background-color: #f0f2f2
	background-image: url("../img/tour-3d--background.png")
	background-repeat: no-repeat
	background-position: 0% 50%
	background-size: auto 100%
	z-index: 0

.numbers
	padding: 90px 0 80px

.numbers-item
	display: flex
	align-items: center
	justify-content: space-between

.numbers-item--info
	display: flex
	flex-direction: column
	margin-left: 15px

.numbers-item--count
	display: block
	font-size: 35px
	font-weight: bold
	line-height: 40px

.numbers-item--title
	display: block
	font-size: 16px
	font-weight: bold
	text-transform: uppercase
	padding-right: 50%
	min-width: 195px

.modal-header
	background-color: #0e76bc
	padding: 15px
	border-bottom: none
	display: flex
	align-items: center

.modal-content
	padding: 30px
	border-radius: 0
	form
		input,textarea
			display: block
			width: 100%
			color: #4a5666
			border: 1px solid #e3e7ec
			margin: 0 auto 20px!important
			max-width: 100%
		input[type="submit"]
			display: block
			border: none
			width: auto
			background-color: $main-color
			color: white


.modal--title
	color: #fff
	text-transform: uppercase
	font-size: 16px
	font-weight: bold
	line-height: 16px
	display: flex
	align-items: center
	flex: 1
	&:before
		margin-right: 20px
		margin-left: 15px
	&._hours
		&:before 
			@include before-icon(url("../img/triple-hours.png"),26px,26px)
	&._ask
		&:before 
			@include before-icon(url("../img/triple-ask.png"),33px,26px)
	&._specialists
		&:before 
			@include before-icon(url("../img/triple-specialists.png"),23px,26px)

.modal--close
	display: inline-block
	height: 20px
	width: 20px
	cursor: pointer
	background-image: url("../img/modal-close.png")
	background-repeat: no-repeat
	background-position: 50%
	transition: all 0.3s
	&:hover
		background-color: darken(#0e76bc,15%)


.modal-content--hours
	font-weight: bold
	color: #4a5666
	span
		display: block
		font-weight: 400

@media(max-width: 1200px)
	.numbers-item
		justify-content: center
		padding-bottom: 20px

	.numbers-item--title
		padding-right: 0

@media(max-width: 991px)
	.tour--form
		input[type='email'],input[type='text']
			flex: 0 0 49%
		input[type="submit"]
			margin-bottom: 0
	.tour--title
		margin-top: 0
	.tour-3d
		padding-left: 15px

	#slider .item
		background-position-x: 250px

@media(max-width: 767px)
	.slider-triple
		flex-direction: column
		position: absolute
		bottom: 0
		width: 100%
		left: 0

	#slider
		.btn_big
			margin: 0 5%
			display: block
			text-align: center
			&:not(:last-of-type)
				margin: 0 5%
			&:last-of-type
				margin-top: 20px

		.item
			padding-bottom: 250px
			background-image: none !important

		.carousel-control
			display: none

	.slider-triple--item
		flex: initial

	#slider .carousel-indicators
		bottom: 180px
	.numbers
		display: block

@media(max-width: 600px)
	.tour--form
		input[type='email'],input[type='text']
			margin: 0 0 10px !important
			flex: 0 0 100%

@media(max-width: 650px)
	.service-item
		width: 100%

@media(max-width: 530px)
	.numbers-item
		width: 100%
	
	.service-item--image
		margin-right: 0
		min-width: 75px

	.switcher
		flex-direction: column
		text-align: center
		span
			border-radius: 5px
			flex: 1
			&:before
				display: none
				z-index: 5
			&._selected
				&:before
					display: block
					z-index: 5



