.container-fluid.subheader
	.container._subheader
		h1.subheader--title новости
		.subheader--breadcrumbs
			a(href="#") главная
			a(href="#")._current новости

.container.content
	.row
		.col-lg-9
			.actions-item
				h2.actions-item--title
					a(href="#") открытие лечебного центра
				.actions-item--image
					img(src="img/actions-item.png")._main
					.actions-item--info
						span.actions-item--day 26
						span.actions-item--month сен
						span.actions-item-year 16
				p Диагностика и лазерное лечение больных с различной патологией сетчатки, такой как диабетическая ретинопатия. возрастная дистрофия сетчаки, различные сосудистые поражения глазного дна, периферическая дистрофия сетчатки. Лечение больных с различной патологией сетчатки, такой как диабетическая ретинопатия,возрастная дистрофия.
				.flex_centered.actions-item--links
					a(href="#").btn.actions-item--details подробнее
					.actions-item--share
						span Поделиться
						.socials
							a(href="#")._vk
							a(href="#")._facebook
							a(href="#")._odnoklassniki
							a(href="#")._google
							a(href="#")._twitter
			.actions-item
				h2.actions-item--title
					a(href="#") открытие лечебного центра
				.actions-item--image
					img(src="img/actions-item.png")._main
					.actions-item--info
						span.actions-item--day 26
						span.actions-item--month сен
						span.actions-item-year 16
				p Диагностика и лазерное лечение больных с различной патологией сетчатки, такой как диабетическая ретинопатия. возрастная дистрофия сетчаки, различные сосудистые поражения глазного дна, периферическая дистрофия сетчатки. Лечение больных с различной патологией сетчатки, такой как диабетическая ретинопатия,возрастная дистрофия.
				.flex_centered.actions-item--links
					a(href="#").btn.actions-item--details подробнее
					.actions-item--share
						span Поделиться
						.socials
							a(href="#")._vk
							a(href="#")._facebook
							a(href="#")._odnoklassniki
							a(href="#")._google
							a(href="#")._twitter
			.pagination
				a(href="#").pagination--prev
				a(href="#").pagination--page._current 1
				a(href="#").pagination--page 2
				a(href="#").pagination--page 3
				a(href="#").pagination--page 4
				a(href="#").pagination--next

		.col-lg-3.sidebar
			span.sidebar--title архив
			a(href="#").sidebar--link январь
			a(href="#").sidebar--link февраль
			a(href="#").sidebar--link март
			a(href="#").sidebar--link апрель
			a(href="#").sidebar--link май
			a(href="#").sidebar--link июнь
			a(href="#").sidebar--link июль
			a(href="#").sidebar--link август
			a(href="#").sidebar--link сентябрь
			a(href="#").sidebar--link октябрь
			a(href="#").sidebar--link ноябрь
			a(href="#").sidebar--link декабрь




