header.container
	.row.flex_centered.header-row
		.col-md-3.col-xs-9
			a(href="#")
				img(src="img/logo.png" alt="Логотип").header--logo
		.col-xs-3.visible-xs
			.header--burger
				img(src="img/burger.png")
		.col-md-9.col-xs-12
			.flex.menu-widgets
				.menu-widget._city
					div
						.menu-widget--label ваш город
						div.dropdown
							a(href="#" data-toggle="dropdown")._drop тверь
								span(class="caret")
							ul.dropdown-menu
								li 
									a(href="#") Тверь
								li 
									a(href="#") Ржев
								li 
									a(href="#") Кащин
								li 
									a(href="#") Осташков
								li 
									a(href="#") Нелидово
								li 
									a(href="#") Старица
								li 
									a(href="#") Рыбинск
								li 
									a(href="#") Углич
				.menu-widget._analyzes
					div
						.menu-widget--label анализы
						a(href="#") сдать
						a(href="#") результаты
				.menu-widget._call
					div
						.menu-widget--label позвоните нам
						span + 7 (4822) 51-69-78
				a(href="#").btn.visible-lg.visible-md запись онлайн


			nav.flex_centered.header--links
				div.dropdown
					a(href="#" data-toggle="dropdown")._drop о компании
						span(class="caret")
					ul.dropdown-menu
						li 
							a(href="#") офтальмология
							ul.dropdown-menu_second
								li 
									a(href="#") пункт
								li 
									a(href="#") пункт
								li 
									a(href="#") пункт
								li 
									a(href="#") пункт

						li 
							a(href="#") стоматология
							ul.dropdown-menu_second
								li 
									a(href="#") пункт
								li 
									a(href="#") пункт
								li 
									a(href="#") пункт
								li 
									a(href="#") пункт
						li 
							a(href="#") хирургия
						li 
							a(href="#") гинекология
						li 
							a(href="#")  урология
				div.dropdown
					a(href="#" data-toggle="dropdown")._drop услуги
						span(class="caret")
					ul.dropdown-menu
						li 
							a(href="#") офтальмология
						li 
							a(href="#") стоматология
						li 
							a(href="#") хирургия
						li 
							a(href="#") гинекология
						li 
							a(href="#")  урология
				a(href="#") цены
				a(href="#") врачи
				a(href="#") новости
				a(href="#") акции
				a(href="#") статьи
				a(href="#") контакты
				.socials
					a(href="#")._vk
					a(href="#")._facebook
					a(href="#")._odnoklassniki
