doctype html
html
	head
		title Комир
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=cyrillic" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/style.css")
	body
		include jade-content/header.jade
		include jade-content/_news.jade
		include jade-content/footer.jade
		include jade-content/widget.jade
					
		script(src="js/jquery-1.11.3.js")
		script(src="js/bootstrap.min.js")
		script(src="js/main.js")
			
